html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page-wrapper {
    height: 100%;
}

#accountDropDownMenu{
    max-width: 250px;
}

#accountDropDownMenu *{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.page-buffer {
    height: 50px;
}

.page-footer {
    border: 1px solid white;
    background-color: #e3f2fd;
    padding: 0;
    margin: 0;
}

.container__row__a:active,
.container__row__a:hover,
.container__row__a{
    text-decoration:none;
    color: #000;
}

.title {
    font-size: 20px;
}

.auction-type{
    font-size: 12px;
}

.category {
    font-size: 12px;
}

.auction-start {
}

.region {
    font-size: 12px;
}

.address {
    font-size: 12px;
}

.card-text{
    margin: 4px;
}

.initial-price {
    max-width: 300px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    background-color: #e3f2fd;
}

.card-body * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.div-image{
    max-height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-image img {
    height:100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
}