.container__row__a:active,
.container__row__a:hover,
.container__row__a{
    text-decoration:none;
    color: #000;
}

.title {
    font-size: 20px;
}

.auction-type{
    font-size: 12px;
}

.category {
    font-size: 12px;
}

.auction-start {
}

.region {
    font-size: 12px;
}

.address {
    font-size: 12px;
}

.auction-status{
    font-size: 12px;
}

.card-text{
    margin: 4px;
}

.initial-price {
    max-width: 300px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    background-color: #e3f2fd;
}

/*.card-body * {*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*}*/

.card-body * {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.div-image{
    max-height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-image img {
    height:100%;
    width: 100%;
    object-fit: cover;
    padding: 7px 3px;
}