html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page-wrapper {
    height: 100%;
}

.page-buffer {
    height: 50px;
}

.page-footer {
    border: 1px solid white;
    background-color: #e3f2fd;
    padding: 0;
    margin: 0;
}