<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>ControllerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserPermissionFilter</filter-name>
        <servlet-name>ControllerServlet</servlet-name>
    </filter-mapping>

    <error-page>
        <location>/WEB-INF/jsp/exception.jsp</location>
    </error-page>
</web-app>